$pink: #e4e4e4;
$primary: $pink;

@import "./_vendor/bulma/_bulma.sass";

.body
  font-family: "Open Sans", sans-serif
  font-size: 14px
  display: flex
  min-height: 100vh
  flex-direction: column
    
.main
  flex: 1

.navbar.has-centered-menu 
  .navbar-start 
    flex-grow: 1
    justify-content: center
  
