{% extends "base.html" %}

{% block content %}
<section id="other" class="home-section">
		<div class="container">
			<div class="row">
                
                {% for team in section.pages %}
				<div class="col-xs-6 col-md-6">
                    {% set image = resize_image(path=team.path  ~ 'img.jpg', width=500, height=300, op='fill') %}
                    <img src="{{ image.url }}" />
					<p><a href="{{ team.extra.website }}"> {{ team.extra.name }} </a>
                    <br>
                    {{ team.extra.title }}
                    <br>
                    {{ team.extra.departement }}</p>
				</div>
                {% endfor %}
			</div>
  
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <h2>{{ section.extra.students }} </h2>
                    {% set_global students_current = [] %}
                    {% set_global students_past = [] %}
                    
                    {% for team in section.pages %}
                        {% set data = load_data(path=team.path ~ "students.json", format="json", required=false) %}
                        {% if data %}
                            {% set_global students_current = data.current | concat(with=students_current) %}
                            {% set_global students_past = data.past | concat(with=students_past) %}
                        {% endif %}
                    {% endfor %}
                    
                    <!-- Phd students -->
                    <h3>{{ section.extra.phd }} </h3>
                    <ul>
                        {% for student in students_current | filter(attribute="type", value="phd") %}
                        <li>{{ student.name }}  </li>
                        {% endfor %}
                    </ul>
                    
                    <!-- Master students -->
                    <h3>{{ section.extra.master }} </h3>
                    <ul>
                        {% for student in students_current | filter(attribute="type", value="master") %}
                        <li>{{ student.name }}  </li>
                        {% endfor %}
                    </ul>

                    <!-- Intern students -->
                    <h3>{{ section.extra.intern }} </h3>
                    <ul>
                        {% for student in students_current | filter(attribute="type", value="intern") %}
                        <li>{{ student.name }}  </li>
                        {% endfor %}
                    </ul>
                    
                    <h2> Aluminati </h2>
                    <ul>
                    {% for student in students_past %}
                        <li>{{ student.name }}</li>
                    {% endfor %}
                    </ul>
                    
                </div>
            </div>
        </div>
	</section>
{% endblock content %}