<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{{ config.title }}{% endblock title %}</title>
	<link rel="stylesheet" href="{{ get_url(path='style.css') }}">
</head>

<body>
	<nav class="navbar is-dark has-shadow has-centered-menu" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="{{ get_url(path="/", lang=lang) }}">
				<img src="{{ get_url(path="/img/logo.jpg") }}" />
				&nbsp;
				{{  trans(key="name", lang=lang) }}
			</a>

			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>
		
		<div id="navbarBasicExample" class="navbar-menu">
			<div class="navbar-start">
				<a class="navbar-item"  href="{{ get_url(path="/", lang=lang) }}">
					{{ trans(key="home", lang=lang)  }}
				</a>

				<a class="navbar-item"   href="{{ get_url(path="/team/", lang=lang) }}">
					{{ trans(key="team", lang=lang) }}
				</a>
			</div>
		</div>
	</nav>

	
	{% block content %}
	{% endblock content %}

	<footer class="footer">
		<div class="content has-text-centered">
		  <p>
			<strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
			<a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
			is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
		  </p>
		</div>
	  </footer>

	<script type="text/javascript" src="{{ get_url(path="/js/main.js") }}"></script>
	{% block scripts %}
	<!-- To include additional script -->
	{% endblock scripts %}
</body>

</html>