{% macro one_author_with_link(author, websites) %}
    {% set website = websites | filter(attribute="name", value=author.name) | first %}
    {% if website %}
        {{ "[" ~ author.name ~ "](" ~ website.url ~ ")" | markdown(inline=true) | safe }}
    {% else %}
        {{ author.name }}
    {% endif %}
{% endmacro one_author %}

{% macro authors_with_link(authors, websites, final='') %}
    {% set nb_authors = authors | length %}
    {% if nb_authors == 0 %}
    {% elif nb_authors == 1 %}
        {{ macros::one_author_with_link(author=authors | last , websites=websites) | safe }}
    {% else %}
        {% for a in authors | slice(end=nb_authors - 1) %}
            {{ macros::one_author_with_link(author=a, websites=websites) | trim | safe }}{{ ", " }} 
        {% endfor %}
        {{ final }}{{ macros::one_author_with_link(author=authors | last , websites=websites) | trim | safe }}
    {% endif %}
{% endmacro authors_with_link %}

{% macro remove_lang_path(path) %}
    {{ path | replace(from="en/", to="") | trim | safe }}
{% endmacro remove_lang_path %}

{% macro list_student(students) %}
    {% set nstudents = students | length %}
    <div class="columns">
    {% for i in range(end=3) %}
        {% if i < nstudents %}
        <div class="column is-4">
            <ul class="block-list is-small is-outlined is-centered">
            {% for j in range(start=i, step_by=3, end=nstudents) %}
                <li>{{ students[j].name }} </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endmacro list_student %}